{% extends 'base/base.html' %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Todas los sensores
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="tabs" role="tablist">
                            {% for sensor_type_code, sensor_type_name in sensor_types.items %}
                                <li class="nav-item">
                                    <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                                       href="#sensor-{{ sensor_type_code }}"
                                       role="tab">{{ sensor_type_name }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for sensor_type_code, sensor_type_name in sensor_types.items %}
                                <div class="tab-pane {% if forloop.first %}active{% endif %}"
                                     id="sensor-{{ sensor_type_code }}"
                                     role="tabpanel">

                                    <div class="col-12">
                                        <table class="table table-hover table-responsive">
                                            <thead>
                                            <tr>
                                                <th>Sensor</th>
                                                <th>Estaci&oacute;n</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for sensor in sensors %}
                                                {% if sensor.type == sensor_type_code %}
                                                    <tr>
                                                        <th>{{ sensor.id }}</th>
                                                        <td>{{ sensor.station.name }}</td>
                                                        <td>
                                                            <a href="{% url 'station_view' station_id=sensor.station.id %}">
                                                                <btn class="btn-info btn">Ver M&aacute;s</btn>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>

        $(document).ready(function () {
            $tabs = $('#tabs');
            $tabs.tab();
        });
    </script>
{% endblock %}
