{% extends 'base/base.html' %}
{% block content %}
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Todas los sensores
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <ul class="nav nav-tabs" id="station-data" role="tablist">
                                {% for type in sensor_types %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                                           href="#sensor-{{ type }}"
                                           role="tab">{{ type }}</a>
                                    </li>
                                {% endfor %}
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for sensor in sensors %}
                                    <div class="tab-pane {% if forloop.first %}active{% endif %}"
                                         id="sensor-{{ sensor.id }}"
                                         role="tabpanel">
                                        <div class="col-12">
                                            <table id="readings-table" class="table table-hover table-responsive">
                                                <thead>
                                                <tr>
                                                    <th>id</th>
                                                    <th>sensor</th>
                                                    <th>medida</th>
                                                    <th>fecha</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
