{% extends 'base/base.html' %}
{% block content %}
    <div class="animated fadeIn">
        <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Informacion General</strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">ID</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">{{ config["PLAYWEATHER_STATION"]['id'] }}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Envio a Playweather</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">
                                        {% if config["PLAYWEATHER_STATION"]['should_deliver_data']==True %}
                                            Activo{% else %}Inactivo{% endif %}</label>
                                </div>
                            </div>
                            {% if config["PLAYWEATHER_STATION"]['should_deliver_data']==True %}
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">Envio a Playweather</label>
                                    <div class="col-md-9">
                                        <label class="form-control-label">{{ config["PLAYWEATHER_STATION"]['delivery_url'] }}</label>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Persistencia de datos</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">
                                        {% if config["PLAYWEATHER_STATION"]['should_persist_data']==True %}
                                            Activo{% else %}Inactivo{% endif %}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Envio a Weather Underground</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">
                                        {% if config["PLAYWEATHER_STATION"]['should_deliver_weather_underground_data']==True %}
                                            Activo{% else %}Inactivo{% endif %}</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">GPS</label>
                                <div class="col-md-9">
                                    <label class="form-control-label">
                                        {% if config["PLAYWEATHER_STATION"]['gps_on']==True %}Activo{% else %}
                                            Inactivo{% endif %}</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Configuraciones</strong>
                        </div>
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-md-3 form-control-label">Intervalo de transmision</label>
                                <div class="col-md-9">
                                    <input type="number" id="delivery-interval" name="delivery-interval"
                                           class="form-control"
                                           placeholder="5..."
                                           value="{{ config["PLAYWEATHER_STATION"]["delivery_interval"] }}">
                                    <span class="help-block text-muted">Tiempo de espera entre cada envio de datos a la plataforma web. (Tiempo en segundos)</span>
                                </div>
                            </div>
                            {% for sensor in sensors %}
                                <div class="form-group row">
                                    <label class="col-md-3 form-control-label">{{ sensor }}</label>
                                    <div class="col-md-9">
                                        <input type="number" id="{{ sensor }}-collection-interval"
                                               name="{{ sensor }}-collection-interval" class="form-control"
                                               placeholder="5..." value="{{ config[sensor]["collection_interval"] }}">
                                        <span class="help-block text-muted">Tiempo de espera entre lectura de datos. (Tiempo en segundos)</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>


            <div class="row text-center">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i>
                        Guardar
                    </button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Deshacer</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
