{% extends 'base/base.html' %}
{% block content %}
    <div class="animated fadeIn">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6">
                        <h1>{{ station.name }}</h1>
                        <h4>Registrada por: {{ station.owner }}</h4>
                        <p><b>En la fecha:</b> {{ station.date_registered }} </p>
                        <h4>Ubicacion</h4>
                        <ul>
                            <li>Longitud: {{ station.location_longitude }}</li>
                            <li>Latitud: {{ station.location_latitude }}</li>
                            <li>Altitud: {{ station.location_altitude }}</li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <div id="map" style="width:100%;height:400px"></div>
                    </div>
                </div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="station-data" role="tablist">
                    {% for sensor in sensors %}
                        <li class="nav-item">
                            <a class="nav-link {% if forloop.first %}active{% endif %}" data-toggle="tab"
                               href="#sensor-{{ sensor.id }}"
                               role="tab">{{ sensor.id }} ({{ sensor.type }})</a>
                        </li>
                    {% endfor %}
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="chart-wrapper" style="height:250px">
                        <canvas id="main-chart" class="chart" height="250"></canvas>
                    </div>
                    {% for sensor in sensors %}
                        <div class="tab-pane {% if forloop.first %}active{% endif %}" id="sensor-{{ sensor.id }}"
                             role="tabpanel">
                            <div class="col-12">
                                <table id="readings-table" class="table table-hover table-responsive">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>sensor</th>
                                        <th>medida</th>
                                        <th>fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                </div>
            </div>
            <!--/.card-->
        </div>

    </div>

{% endblock %}

{% block extra_js %}
{#        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>#}
    <script>

        function displayMap() {
            var location = new google.maps.LatLng({{ station.location_latitude }}, {{ station.location_longitude }});
            var mapOptions = {
                center: location,
                zoom: 15
            };
            var map = new google.maps.Map(document.getElementById("map"), mapOptions);

            var marker = new google.maps.Marker({
                position: location,
                map: map
            })
        }


        function updateTable(data_values) {
            $readings_table = $('#readings-table>tbody').empty();
            data_values.slice(0, 5).forEach(function (data) {
                $readings_table.append('<tr> <th>' + data['id'] + '</th> <td>' + data['sensor_id'] + '</td><td>' + data['data'] + '</td><td>' + data['date'] + '</td></tr>')
            });
        }

        function updateChart(data_values) {
            var elements = 5;
            data_values = data_values.reverse();
            var data = {
                labels: data_values.map(function (x) {
                    return x.id;
                }),
                datasets: [
                    {
                        backgroundColor: 'lightblue',
                        pointHoverBackgroundColor: '#fff',
                        borderWidth: 2,
                        data: data_values.map(function (x) {
                            return x.data;
                        })
                    }
                ]
            };

            var options = {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                animation: {
                    duration: 0
                },
                scales: {
                    xAxes: [{
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            maxTicksLimit: 5,
                            {#                            stepSize: Math.ceil(250 / 5),#}
                            {#                            max: 250#}
                        }
                    }]
                },
                {#                elements: {#}
                {#                    point: {#}
                {#                        radius: 0,#}
                {#                        hitRadius: 10,#}
                {#                        hoverRadius: 4,#}
                {#                        hoverBorderWidth: 3,#}
                {#                    }#}
                {#                },#}
            };
            var ctx = $('#main-chart');
            var mainChart;
            if (!mainChart) {
                mainChart = new Chart(ctx, {
                    type: 'line',
                    data: data,
                    options: options
                });
            } else {
                mainChart.update();
            }
        }

        function updateTab() {

            var selectedSensor = $('.tab-pane.active')[0].id.slice(7);
            var readings = 15;
            $.get("http://localhost:8000/api/sensor_reading/read/?amount=" + readings + "&sensor=" + selectedSensor, function (response, status) {
                updateTable(response);
                updateChart(response);
            });
        }
        // Enable tabs
        $(document).ready(function () {
            $station_data = $('#station-data');
            console.log($station_data);
            $station_data.tab();

            updateTab();
            setInterval(updateTab, 2000);

            $station_data.find('a').click(function (e) {
                setTimeout(updateTab, 100);
            })
        });
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARzXZNW2i1qOT9dZUTfIpqh08UI1IiS8Q&callback=displayMap"></script>
{% endblock %}
